{% extends 'base/base_usuarios.html' %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">  
      {{message}}
      <button type="button" class="close" data-dismiss="alert" arial-label="Close">
      <span aria-hidden="true">&times;<span>
      </button>
      </div>
{% endfor %}
{% endif %}
{% endwith %}

<h1 style="border: 2px solid #023023; padding: 10px; background-color: #023023;"></h1>

      <div id="testimonial" class="testimonial">
         <div class="container">
            <div class="row">
               <div>
                  <div class="titlepage">    
                     </div>
                  </div>
               </div>
               <div>
               <table class="table table-bordered table-dark table-responsive-sm table-responsive-md">
                 <tr>
                   <th>ID</th>
                   <th>Nombre</th>
                   <th>Codigo Postal</th>
                   <th>Telefono</th>
                   <th>Capacidad</th>
                   <th>Tolerancia</th>
                   <th>Acción</th>
                   <th>Acción</th>
                 </tr>
                   {% for estacionamiento in estacionamientos %}
               <tbody>
                 <tr>
                   <td>{{ estacionamiento.0 }} </td>
                   <td>{{ estacionamiento.1 }} </td>
                   <td>{{ estacionamiento.2}}</td>
                   <td>{{ estacionamiento.3}}</td>
                   <td>{{ estacionamiento.4}}</td>
                   <td>{{ estacionamiento.5}}</td>
                   <td><a class="btn btn-light" href="/editar_estacionamiento/{{estacionamiento.0}}/{{u}}/">Editar</a></td>
                   <td><a class="btn btn-light" href="/borrar_estacionamiento/{{estacionamiento.0}}/{{u}}/">Borrar</a></td>
                 </tr>

                   {% endfor %}

                  </tbody>
               </table>
                          <br>   <br> <br>  <br> <br> <br> <br>
                        
                  </div>
               </div>
            </div>
         </div>

      </div>
              
{% endblock %}