{% extends 'base/base.html' %}
{% block content %}
  
					                        
<h1 style="border: 2px solid #023023; padding: 10px; background-color: #023023;"></h1>

      <div id="testimonial" class="testimonial">

         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                    
                        
                     </div>
                    
                  </div>
               </div>
               <table class="table table-bordered table-dark" >



					  <tr>

					    <td >Fecha y hora de entrada</td>

					    <td>{{var2}}  /  {{var1}}</td>

					  </tr>
					 

					    <td>Fecha y hora de salida </td>

					    <td>{{var5}}  /  {{var4}}</td>

					  </tr>

					    <td>Tipo de pensión</td>

					    <td>{{var7}}</td>

					  </tr>
					  <td>Total a pagar</td>

					    <td>{{var8}} MXN </td>

					  </tr>




					</table>
					<center>
					<li> <a href="/" class="tn btn-success btn-lg active">Pagar</a> </li></center>
                     
                           
                          <br>   <br> <br>  <br> <br> <br> <br>
                        
                  </div>
               </div>
            </div>
         </div>

      </div>

							            
							                        
							                        
					
{% endblock %}