{% extends 'base/base.html' %}

{% block content %}
<h1 style="border: 2px solid #023023; padding: 10px; background-color: #023023;"></h1>

      <div id="testimonial" class="testimonial">

         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h3>Registro del Estacionamiento</h3>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div id="testimonial_slider" class="carousel slide banner-bg" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <img class="first-slide" src="{{ url_for('static', filename= 'img/LogoSmartParking.png')}}">
                           <div class="container">
                              <div class="carousel-caption relat">
                                 <h3>Smart parking</h3>
                                 <span><i class="fa fa-quote-left"></i> ( Misión )<i class="fa fa-quote-right"></i></span>
                                 <p>Satisfacer las necesidades de administración y operación de nuestros clientes: Centros comerciales, Estacionamientos, Servicios de valet parking, consumidores de tecnología y equipo de control de acceso de cualquier tipo.  
                                 Brindar siempre un servicio de calidad, enfocada a proporcionar atención de primer nivel y excelencia, teniendo como objetivo, ser rentables, productivos y que el cliente sea para nosotros lo principal y lo único.
                                 Dinamismo en la resolución de los problemas de los servicios contratados, ajustándonos en todo momento a las peticiones y necesidades de nuestros clientes.  </p>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                    
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Datos</h3>
                     <form action="/datosestacionamiento" method="POST">
                        <div class="row">
                           
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="Nombre del estacionamiento" type="text" name="nombre" required="">
                           </div>
                            <div class="col-sm-12">
                              <input class="contactus" placeholder="C.P" type="text" name="cp" required="">
                           </div>
                            <div class="col-sm-12">
                              <input class="contactus" placeholder="Teléfono" type="text" name="telefono" required="">
                           </div>
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="Capacidad de autos" type="text" name="capacidad" required="">
                           </div>
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="Tiempo de tolerancia en minutos" type="text" name="tolerancia" required="">
                           </div>
                           
                           
                           <div class="col-sm-12">
                              <button class="send">Enviar</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}