{% extends 'base/base.html' %}

{% block content %}
<!-- Testimonial -->
 <h1 style="border: 2px solid #023023; padding: 10px; background-color: #023023;"></h1>

      <div id="testimonial" class="testimonial">

         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h3>Registro del Auto</h3>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div id="testimonial_slider" class="carousel slide banner-bg" data-ride="carousel">
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <img class="first-slide" src="{{ url_for('static', filename= 'img/mapa.jpg')}}">
                           <div class="container">
                              <div class="carousel-caption relat">
                                 <h3>Smart parking</h3>
                                 <span><i class="fa fa-quote-left"></i> ( Presencia Nacional )<i class="fa fa-quote-right"></i></span>
                                 <p > <font size="5">Presencia Nacional en varias entidades y Ciudad de México:
                              Baja California, Sonora, Nuevo León
                              Michoacán, Jalisco, Guanajuato
                              Ciudad de México, Estado de México
                              Puebla, Morelos, Veracruz
                              Tabasco, Campeche
                              Guerrero, Oaxaca, Chiapas
                              vicio.  </font></p>
                              </div>
                           </div>
                        </div>
                        
                     </div>
                    
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>Datos</h3>
                     <form action="/datossalida" method="POST">
                        <div class="row">
                           
                           <div class="col-sm-12">
                              <input class="contactus" placeholder="ID del boleto" type="text" name="ident" required="">
                           </div>
                           <div class="col-sm-12">
                               <input class="contactus" type="date" id="send" min="2021-03-15" max="2021-10-20" oninput="result.value = send.value"  required="">
      <input class="contactus"  type="hidden" id="result" name="fecha" required=""  minlength="10" maxlength="10" placeholder="AAAA-MM-DD" pattern="(?:19|20)(?:(?:[13579][26]|[02468][048])-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))|(?:[0-9]{2}-(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-8])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:29|30))|(?:(?:0[13578]|1[02])-31)))">

                           </div>
                            <div class="col-sm-12">
                               <input class="contactus" type="time" name="hora"  step="1" required="">
                               

                           </div>
                           
                           
                           <div class="col-sm-12">

                              <button class="send">Total a pagar</button>
                              <br>
                         
                           </div>
                           

                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end Testimonial --> 

{% endblock %}