<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Smart Parking</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/bootstrap.min.css' ) }}">
      <!-- style css -->
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css')}}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/responsive.css') }}">
      <!-- fevicon -->
      <link rel="icon" href="{{ url_for('static', filename= 'img/LogoSmartParking.png')}}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/jquery.mCustomScrollbar.min.css')}}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
       <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{{ url_for('static', filename= 'img/loading.gif')}}" alt="#" /></div>
      </div>
      <!-- end loader --> 
      
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="/inicio_usuario/{{u}}/">Smart Parking</a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        <nav class="main-menu">
                           <ul class="menu-area-main">
                              
                              <li> <a href="/registro_usuario/{{u}}/">Usuarios</a> </li>
                              <li> <a href="/estacionamientos/{{u}}/">Estacionamientos</a></li>
                              <li> <a href="/autos/{{u}}/">Autos</a></li>
                              <li> <a href="/">Cerrar Sesión</a></li>
                              <li> <a></a> </li>
                              
                           </ul>
                           <ul></ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner --> 
      </header>
      <!-- end header -->
    
      
      
      <!-- Javascript files--> 
      <script src="{{ url_for('static', filename= 'js/jquery.min.js') }}"></script> 
      <script src="{{ url_for('static', filename= 'js/popper.min.js') }}"></script> 
      <script src="{{ url_for('static', filename= 'js/bootstrap.bundle.min.js')}}"></script> 
      <script src="{{ url_for('static', filename= 'js/jquery-3.0.0.min.js')}}"></script> 
      <script src="{{ url_for('static', filename= 'js/plugin2.js')}}"></script>  
      <!-- sidebar --> 
      <script src="{{ url_for('static', filename= 'js/jquery.mCustomScrollbar.concat.min.js')}}"></script> 
      <script src="{{ url_for('static', filename= 'js/custom.js')}}"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
         
         $(".zoom").hover(function(){
         
         $(this).addClass('transition');
         }, function(){
         
         $(this).removeClass('transition');
         });
         });
         
      </script> 

      {% block content %}

      {% endblock %}
         <footr>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-lg-2 col-md-6 col-sm-12 width">
                     <div class="address">
                        <h3>Dirección</h3>
                        <i><img src="{{ url_for('static', filename= 'icon/3.png')}}"> Av. Universidad Tecnológica 1, Palo Escrito, 62765 Emiliano Zapata, Mor.</i>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-12 width">
                     <div class="address">
                        <h3>Telefonos</h3>
                        <i>☏ +527773681165</i><br>
                        <i> ✆ +527773681165</i>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-12 width">
                     <div class="address">
                        <h3>✉ Email </h3>
                        <i>SmartPark@gmail.com </i>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-12 width">
                     <div class="address">
                        <h3>Redes Sociales </h3>
                        <ul class="contant_icon">
                           <li><a title="Los Tejos" href="https://www.facebook.com/photo?fbid=1371725242920546&set=a.104739636285786"><img src="{{ url_for('static', filename= 'icon/fb.png')}}" alt="icon" /></li></a>
                           <li> <a title="Los Tejos" href="https://www.facebook.com/photo?fbid=2376192859288917&set=a.1377085649199648"><img src="{{ url_for('static', filename= 'icon/tw.png')}}" alt="icon"/></li></a>
                           <li><img src="{{ url_for('static', filename= 'icon/lin (2).png')}}" alt="icon"/></li>
                           <li><img src="{{ url_for('static', filename= 'icon/instagram.png')}}" alt="icon"/></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 width">
                     <div class="address">
                        <h3> &copy; Copyright 2021 </h3>
                         <i><h3>  </h3> </i>
                     </div>
                  </div>
               </div>
            </div>
            
         </div>
      </footr>

   </body>
</html>